@charset "UTF-8";
@import url(../../../base/color.css);
@import url(../../../common/css/bs-color/bs-color.css);

/* chat-header */
.chat-header {
    padding-top: 1vw; /* sub-container-1 padding-top */
}
.chat-header,
.chat-header .form-control {
    background-color:        var(--bs-body-color-rgb);
    -webkit-backdrop-filter: blur(var(--frosted-glass-blur));
	backdrop-filter:         blur(var(--frosted-glass-blur));
}
.f-room-title {
    font-size:   var(--custom-fs-125);
    font-weight: var(--custom-fw-500);
    line-height: var(--custom-lh-100);
}
.chat-input-area,
.chat-input-area .form-control {
    box-shadow: none;
    background: var(--bs-tertiary-bg);
}

/* chat-main */
.chat-main {
    padding-left:   calc( var(--frosted-glass-blur) * 2 );
    padding-right:  calc( var(--frosted-glass-blur) * 2 );
    padding-bottom: 5vh;
}
.message-icon {
    width:  48px;
    height: 48px;
}
.footer-hidden-opacity {
    opacity: 0;
    transition: opacity 0.5s ease;
}
.footer-visible-opacity {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.ai-message .list-style-on {
    list-style: decimal !important;
}

/* room一覧 */
#RoomList a {
    padding-top:    .5rem;
    padding-bottom: .5rem;
}
#RoomList li {
    border-bottom:  2px solid var(--bs-border-color);
}

/* thankYouNotification */
#thankYouNotification {
    background:    var(--bs-info-bg-subtle);
    display:       none;
    position:      fixed;
    bottom:        20px;
    right:         20px;
    border-radius: 5px;
    padding:       10px;
}
#thankYouNotification img {
    width:  80px;
    height: 80px;
}