{% extends 'apps/chat/chat_base.html' %}

{# --- CONTENT --- #}
{% block chat_content %}
<div class="chat-header">
    <div class="d-flex flex-row">
        <div class="flex-column flex-grow-1">
            <h1 class="f-content-title">ルーム一覧</h1>
        </div>
        <div class="flex-column flex-shrink-1">
            <a class="btn btn-sm btn-outline-primary"
               href="{% url 'chat:room_create' %}"
               data-bs-toggle="tooltip"
               data-bs-placement="left"
               data-html="false"
               title="新規作成">
                <i class="beginning-sentence-icon fa-solid fa-plus"></i>あたらしいルームを作成
            </a>
        </div>
    </div>
    <div class="d-flex justify-content-center pb-4">
        <ul class="list-group col-12 col-lg-10 col-sm-12 pt-4 px-3" id="RoomList">
            {% for room_object in room_objects %}
                <li class="">
                    <div class="d-flex flex-row align-items-start mt-3">
                        <div class="flex-column flex-grow-1">
                            <a class="list-group-item list-group-item-action"
                               href="{% url 'chat:room' room_id=room_object.room_id %}">
                                <span>{{ room_object.related_room_settings_model_room_id.room_name }}</span>
                            </a>
                        </div>
                        <div class="flex-column flex-shrink-1">
                            <a class="btn btn-sm btn-outline-danger m-1 p-1"
                               href="{% url 'chat:room_delete' room_id=room_object.room_id %}"
                               data-bs-toggle="tooltip"
                               data-bs-placement="left"
                               data-html="false"
                               title="削除">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}