{% extends 'apps/chat/chat_base.html' %}
{% load static %}

{# --- CSS --- #}
{% block chat_css_previous %}
{# --- Custom style for form-utils --- #}
<link rel="stylesheet" href="{% static 'templates/common/css/form-utils/form-utils.css' %}" />
{% endblock %}

{# --- CONTENT --- #}
{% block chat_content %}
<div class="chat-header mt-3">
    <div class="d-flex flex-row col-lg-10 col-md-12 mx-auto">
        <div class="flex-column flex-grow-1">
            <h1 class="fs-5 fw-5">ルーム一覧</h1>
        </div>
        <div class="flex-column flex-shrink-1">
            <form method="POST">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-sm btn-outline-primary"
                        name="RoomCreate"
                        data-bs-toggle="tooltip"
                        data-bs-placement="left"
                        data-html="false"
                        title="新規作成">
                    <i class="beginning-sentence-icon fa-solid fa-plus"></i>あたらしいルームを作成
                </button>
            </form>
        </div>
    </div>
    <div class="col-lg-10 col-md-12 mx-auto">
    {# --- url_param --- #}
    <div class="mt-4">
        {% with form_action_url=form_action_url url_param=url_param %}
            {% include 'common/asset/ajax_pagenation/url_param.html'%}
        {% endwith %}
    </div>
    </div>
    {# --- RoomList --- #}
    <form method="POST">
        {% csrf_token %}
        <div class="d-flex justify-content-center py-2">
            <ul class="list-group col-12 col-lg-10 col-sm-12" id="RoomList">
                {% for room_settings_object in pagenate.objs %}
                    <li class="border-bottom">
                        <a class="list-group-item list-group-item-action"
                           href="{% url 'chat:room' room_id=room_settings_object.room_id.room_id %}">
                            <div class="d-flex flex-row">
                                <div class="d-flex flex-grow-1 align-items-center">
                                    <div class="flex-grow-1">{{ room_settings_object.room_name }}</div>
                                </div>
                                <div class="flex-shrink-1">
                                    <div class="flex-column flex-shrink-1">
                                        <button class="delete-room-button btn btn-sm btn-outline-danger m-1 p-1"
                                                type="submit"
                                                name="DeleteRoom"
                                                value="{{ room_settings_object.room_id.room_id }}"
                                                data-bs-toggle="tooltip"
                                                data-bs-placement="left"
                                                data-html="false"
                                                title="削除">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </form>
</div>

{# --- ajax_pagenation --- #}
{% with AjaxEndPoint=AjaxEndPoint ListAreaId='RoomList' PagenationNavId='PagenationNavItems' %}
    {% include 'apps/chat/include/ajax_pagenation_script.html'%}
{% endwith %}
{# --- Pagenation Nav --- #}
<div class="col-lg-10 col-md-12 mx-auto mb-4">
    {% with AjaxFuncName='ajax_pagenate_fnc' pagenate=pagenate url_param=url_param %}
        {% include 'common/asset/ajax_pagenation/ajax_pagenation_nav.html'%}
    {% endwith %}
</div>
{% endblock %}