@charset "UTF-8";
/* form-floating */
.form-floating:focus-within {
    z-index: 2;
}
/* form-text */
.form-text {
    font-size:   var(--custom-fs-70);
    font-weight: var(--custom-fw-300);
    line-height: var(--custom-lh-100);
}
/* form-input-vertical-cluster */
.form-input-vertical-cluster-beginning {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-input-vertical-cluster-middle {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-input-vertical-cluster-end {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* form-input-horizontal-cluster */
.form-input-horizontal-cluster-beginning {
    margin-right: -1px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-input-horizontal-cluster-middle {
    margin-right: -1px;
    border-radius: 0;
}
.form-input-horizontal-cluster-end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* search */
.search-input-form {
    display:            flex;
    align-items:        center;
    overflow:           hidden;
    border:             1px solid var(--bs-border-color);
    border-radius:      1.5rem;
    -webkit-transition: all var(--navber-transition) linear;
    -moz-transition:    all var(--navber-transition) linear;
    -ms-transition:     all var(--navber-transition) linear;
    -o-transition:      all var(--navber-transition) linear;
}
.search-input-form input {
    width:      100%;
    height:     2rem;
    border:     none;
    box-sizing: border-box;
    outline:    none;
}
.search-input-form::before {
    margin:              .2rem .5rem;   
    font-family:         "Font Awesome 6 Free";
    font-weight:         900;
    content:             "\f002";
    width:               1rem;
    height:              1rem;
    background-position: center;
    background-repeat:   no-repeat;
}
.search-input-form:hover {
    box-shadow:
        0 0 3px var(--bs-primary-border-subtle),
        inset 0 0 6px var(--bs-primary-border-subtle);
}