{% extends 'apps/user_properties/user_properties_base.html' %}

{# --- TITLE --- #}
{% block user_properties_title %} - Change Password{% endblock %}

{# --- SIDENAV --- #}
{% block user_properties_sidenav %}
{% include 'apps/user_properties/asset/sidenav/sidenav.html' with password_change_active='active' %}
{% endblock %}

{# --- CONTENT --- #}
{% block user_properties_content %}
<div class="row mx-auto">
    <div class="col-lg-9 col-md-12 mx-auto">
        <div class="row pb-3">
            <h1 class="f-content-title">パスワードの変更</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12">
                        <label for="{{ form.new_password1.id_for_label }}"
                               class="sr-only">
                            {{ form.new_password1.label }}
                        </label>
                        <div class="form-floating">
                            <input type="{{ form.new_password1.field.widget.input_type }}"
                                   class="form-input-vertical-cluster-beginning form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                                   name="{{ form.new_password1.html_name }}"
                                   id="{{ form.new_password1.id_for_label }}"
                                   placeholder="{{ form.new_password1.label }}"
                                   autofocus
                                   {% if form.new_password1.field.required %}required{% endif %} />
                            <label for="{{ form.new_password1.id_for_label }}">
                                {{ form.new_password1.label }}
                            </label>
                            {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12">
                        <label for="{{ form.new_password2.id_for_label }}"
                            class="sr-only">
                            {{ form.new_password2.label }}
                        </label>
                        <div class="form-floating">
                            <input type="{{ form.new_password2.field.widget.input_type }}"
                                   class="form-input-vertical-cluster-end form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                                   name="{{ form.new_password2.html_name }}"
                                   id="{{ form.new_password2.id_for_label }}"
                                   placeholder="{{ form.new_password2.label }}"
                                   autofocus
                                   {% if form.new_password2.field.required %}required{% endif %} />
                            <label for="{{ form.new_password2.id_for_label }}">
                                {{ form.new_password2.label }}
                            </label>
                            {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12 mt-4">
                        <button id="submit" type="submit" class="btn btn-primary on-click-disable w-100">変更</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}