{% extends 'accounts/accounts_base.html' %}

{# --- TITLE --- #}
{% block accounts_title %} - Forgot your password?{% endblock %}

{# --- SCRIPT previous --- #}
{% block account_js_previous %}
    {% if IS_USE_RECAPTCHA %}
        {% include 'common/asset/grecaptcha/grecaptcha_script.html' %}
    {% endif %}
{% endblock %}

{# --- CONTENT --- #}
{% block accounts_content %}
<div class="row mx-auto">
    <div class="col-lg-9 col-md-12 mx-auto">
        <div class="row text-center pb-3">
            <h1 class="f-content-title">パスワードの再設定</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="row">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12">
                        <label for="{{ form.email.id_for_label }}"
                            class="sr-only">
                            {{ form.email.label }}
                        </label>
                        <div class="form-floating">
                            <input type="{{ form.email.field.widget.input_type }}"
                                   class="form-control {% if form.email.errors %}is-invalid{% endif %}"
                                   name="{{ form.email.html_name }}"
                                   id="{{ form.email.id_for_label }}"
                                   placeholder="登録したメールアドレス"
                                   autofocus
                                   {% if form.email.field.required %}required{% endif %} />
                            <label for="{{ form.email.id_for_label }}">
                                登録したメールアドレス
                            </label>
                            {% if form.email.errors %}
                                {% for error in form.email.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                            {% if form.email.help_text %}
                                <div class="form-text">
                                    {{ form.email.help_text }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if IS_USE_RECAPTCHA %}
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12 mt-2">
                        {% include 'common/asset/grecaptcha/grecaptcha_btn.html' %}
                    </div>
                </div>
                {% endif %}
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12 mt-4">
                        <button id="submit" type="submit" class="btn btn-primary on-click-disable w-100">再設定</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}