{% extends 'accounts/accounts_base.html' %}

{# --- TITLE --- #}
{% block accounts_title %} - Reset password{% endblock %}

{# --- CONTENT --- #}
{% block accounts_content %}
{% if form is None %}
    <h1 class="f-content-title">認証URLの有効期限が切れています</h1>
    <div class="card mt-4">
        <div class="card-body">
            <p class="card-text">5病後にリダイレクトします</p>
        </div>
    </div>
{% else %}
<div class="row mx-auto">
    <div class="col-lg-9 col-md-12 mx-auto">
        <div class="row text-center pb-3">
            <h1 class="f-content-title">新しいパスワードの設定</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="row">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12">
                        <label for="{{ form.new_password1.id_for_label }}"
                               class="sr-only">
                            {{ form.new_password1.label }}
                        </label>
                        <div class="form-floating">
                            <input type="{{ form.new_password1.field.widget.input_type }}"
                                   class="form-input-vertical-cluster-beginning form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                                   name="{{ form.new_password1.html_name }}"
                                   id="{{ form.new_password1.id_for_label }}"
                                   placeholder="{{ form.new_password1.label }}"
                                   autocomplete="new-password"
                                   autofocus
                                   {% if form.new_password1.field.required %}required{% endif %} />
                            <label for="{{ form.new_password1.id_for_label }}">
                                {{ form.new_password1.label }}
                            </label>
                            {% if form.new_password1.errors %}
                                {% for error in form.new_password1.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12">
                        <label for="{{ form.new_password2.id_for_label }}"
                            class="sr-only">
                            {{ form.new_password2.label }}
                        </label>
                        <div class="form-floating">
                            <input type="{{ form.new_password2.field.widget.input_type }}"
                                   class="form-input-vertical-cluster-end form-control {% if form.new_password2.errors %}is-invalid{% endif %}"
                                   name="{{ form.new_password2.html_name }}"
                                   id="{{ form.new_password2.id_for_label }}"
                                   placeholder="{{ form.new_password2.label }}"
                                   autocomplete="new-password"
                                   autofocus
                                   {% if form.new_password2.field.required %}required{% endif %} />
                            <label for="{{ form.new_password2.id_for_label }}">
                                {{ form.new_password2.label }}
                            </label>
                            {% if form.new_password2.help_text %}
                                <div class="form-text">
                                    {{ form.new_password2.help_text }}
                                </div>
                            {% endif %}
                            {% if form.new_password2.errors %}
                                {% for error in form.new_password2.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-6 col-lg-10 col-sm-12 mt-4">
                        <button id="submit" type="submit" class="btn btn-primary on-click-disable w-100">登録</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}

{# --- SCRIPT rear --- #}
{% block accounts_js_rear %}
    {% if form is None %}
        <script type="text/javascript">
            setTimeout(function(){
                window.location.href = "{% url 'accounts:login' %}";
            }, 5*1000);
        </script>
    {% endif %}
{% endblock %}